:root {
	--bg-color: #ffffff;
	--tx-color: #000000;
	--cb-color: #eeeeee;
	--ct-color: #aaaaaa;
	--br-radius: 8pt;
	--ax: #0080FF;
}
html {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.2;
	font-smooth: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--tx-color);
}
body {
	margin:0 0 3em 0;
	max-width: 100%;
}
body,
*, * > * {
	box-sizing: border-box;
}
body:not(.blurred) main {
	transition-property: filter;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
body.blurred main {
	filter: blur(10px);
	transition-property: filter;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	letter-spacing: -.025em;
}
header {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	padding: calc(3em - 20px) 0 calc(3em - 30px);
	height: auto;
	width: auto;
	text-align: center;
	z-index: 1000000;
}
#title {
	text-transform: uppercase;
	font-style: italic;
	font-size: 1.5em;
	font-weight: 900;
}
#star {
	position: relative;
	margin-left: -.125em;
	margin-right: -.0125em;
	bottom: .165em;
	font-size: 1.85em;
	line-height: 0px;
	vertical-align: bottom;
}
details { /* var to ie */
	margin: 0;
	padding: 0;
}
details > *:not(:first-child) {
	margin: 0;
	padding: 0;
}
#details-content {
	padding: 0;
	margin: 0;
}
summary {
	margin: 0;
	padding: 0;
	outline: none;
}
summary::-webkit-details-marker {
	display: none;
}
summary::before {
	display: inline-block;
	content: "\2B";
	margin-right: .5em;
	padding: 0 0 .1em .25em;
	font-size: 1.2em;
	font-weight: 700;
	line-height: .833em;
}
[open] summary::before {
	content: "\2212";
}
#menu-toggler {
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	top: 20px;
	left: 20px;
	border: 0;
	border-radius: 100%;
	line-height: 0;
	transform: rotate(0deg);
	transition-property: fill, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	filter: blur(0) !important;
	z-index: 3;
}
#menu-toggler svg {
	border: 0;
	height: auto;
	width: 30px;
	fill: var(--ct-color);
	transition-property: fill, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
#menu-toggler.active {
	transform: rotate(60deg);
	transition-property: fill, transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
#menu-toggler:hover svg,
#menu-toggler.active svg {
	fill: var(--tx-color);
	transition-property: fill, transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
#settings {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 0;
	padding: 0 15vw;
	height: 100%;
	width: 100%;
	z-index: 2;
	transition-property: bottom;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	
}
a:not(.active) + #settings {
	bottom: -100%;
	transition-property: bottom;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

p {
	margin: .1em 0;
	word-wrap: break-word;
	word-break: break-all;
}

.toggler:not(.active) + #menu {
	left: -100%;
}


.rounded-element {
	padding: 20px;
	border-radius: var(--br-radius);
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
	background-color: var(--bg-color);
}
#content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 640px;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: center;
	justify-content: center;
}

#taquin {
	order: -2;
	display: block;
	margin: 10px;
	padding: 15px;
	height: 300px;
	min-width: 300px;
	width: 300px;
	max-width: 300px;
	font-family: 'Inter';
}
#grid {
	order: -2;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bar,
.grid {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	margin: 10px;
	height: auto;
	min-width: 300px;
	width: 300px;
	max-width: 300px;
}

#heuristiques,
#search {
	order: 4;
	flex-flow: column nowrap;
	align-items: flex-start;
	font-feature-settings: "tnum";
}

#heuristiques .part-title,
#search .part-title {
	margin-bottom: .5em;
}

.sub {
	margin-top: .5em;
	font-size: .9em;
	color: var(--ct-color);
}

.squared {
	user-select: none;
	display: flex;
	position: relative;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex: 0 0 140px;
	height: 140px;
	border-radius: var(--br-radius);
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
	background-color: var(--bg-color);
	cursor: pointer;
}
.squared:not(.last) {
	margin-bottom: 20px;
}


.squared:hover .title {
	color: var(--tx-color);
	transition: .3s ease color;
}

.squared .title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 5px 7px calc(5px + 0.05em);
	font-size: .7em;
	font-weight: 500;
	letter-spacing: .05em;
	border-radius: 0 0 var(--br-radius) var(--br-radius);
	text-align: center;
	color: var(--ct-color);
	transition: .3s ease color;

}
.squared-content {
	font-size: 1.25em;
	font-weight: bold;
}

.squared:not(.active) .info {
	display: none;
}
.squared .info {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
	z-index: 3;
	border-radius: var(--br-radius);
	background-color: var(--bg-color);
	padding: 20px;
	height: auto;
	width: 300px;
}

.game {
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}
body.win .game .case:not(.vide) {
	background-color: var(--ax);
	color: var(--bg-color);
}

.w-3 .case {
	flex: 0 0 calc(100% / 3 - 2%);
	height: calc(100% / 3 - 2%);
}
.w-4 .case {
	flex: 0 0 calc(100% / 4 - 2%);
	height: calc(100% / 4 - 2%);
}
.w-5 .case {
	flex: 0 0 calc(100% / 5 - 1%);
	height: calc(100% / 5 - 1%);
}
.w-6 .case {
	flex: 0 0 calc(100% / 6 - 1%);
	height: calc(100% / 6 - 1%);
}
.w-7 .case {
	flex: 0 0 calc(100% / 7 - 1%);
	height: calc(100% / 7 - 1%);
}
.w-8 .case {
	flex: 0 0 calc(100% / 8 - 1%);
	height: calc(100% / 8 - 1%);
}
.w-9 .case {
	flex: 0 0 calc(100% / 9 - 2px);
	height: calc(100% / 9 - 2px);
}
.w-10 .case {
	flex: 0 0 calc(100% / 10 - 2px);
	height: calc(100% / 10 - 2px);
}

.case {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
	font-weight: bold;
	border-radius: 3pt;
	border: 1px solid var(--cb-color);
	background-color: var(--cb-color);
	color: var(--ct-color);
}
.case.vide {
	border: 0px solid var(--ct-color);
	background-color: transparent;
}
:not(input) + input {
	position: relative;
	margin: 2em .75em 2em 0;
}
#div-gen {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}
#div-gen > *:not(:last-child) {
	margin-right: .5em;
}
#div-gen > * {
	margin-bottom: 0;
}
#opti-moves {
	margin-top: .75em;
	user-select: none;
}
#opti-moves:empty { display: none; }
.moveBlock {
	--br-radius: 2pt;
	display: flex;
	position: relative;
	padding: 5px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	border-radius: var(--br-radius);
	cursor: pointer;
	transition: .3s ease all;
}
.moveBlock:not(:last-child) {
	margin-bottom: 5px;
}
.moveBlock > * {
	display: flex;
	flex: 0 0 auto;
	align-content: center;
	align-items: center;
	border-radius: var(--br-radius);
	transition: .150s ease all;
}
.moveBlock:hover,
.moveBlock.active {
	background-color: var(--cb-color);
	transition: .150s ease all;
}
.moveBlock > *:not(:last-child) {
	margin-right: 5px;
}
.idBlock {
	padding-left: 5px;
	min-width: 30px;
	justify-self: right;
	height: auto;
	font-style: italic;
	background-color: transparent;
	text-align: right;
	color: var(--ct-color);
}
.nameBlock {
	display: flex;
	flex-flow: row;
	align-items: center;
	align-content: center;
	align-self: center;
	justify-content: center;
	margin-right: auto;
	font-weight: bold;
	color:var(--tx-color);
}
.moveBlock:not(.active) .wayBlock {
	flex: 0 0 auto;
	opacity: 0;
	margin: 0;
	width: 0;
	transition-property: flex,opacity,margin,width;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
.moveBlock .wayBlock {
	display: block;
	flex: 1 0 50%;
	margin-left: auto;
	margin-right: 5px;
	font-size: 1.2em;
	font-weight: 700;
	text-align: right;
}
.infoBlock {
	flex: 0 0 auto;
	display: flex;
	margin-left: auto;
	width: auto;
}
.infoBlock > *:not(:last-child) {
	margin-right: 5px;
}
.dataBlock {
	display: flex;
	position: relative;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	font-weight: bold;
	background-color: var(--cb-color);
	color: var(--ct-color);
	border-radius: var(--br-radius);
}
.moveBlock:hover .dataBlock,
.moveBlock.active .dataBlock {
	background-color: var(--bg-color);
	color: var(--ct-color);
}
.dataBlock .title {
	display: none;
}
.moveBlock.active .infoBlock {
	flex: 1 0 30%;
	flex-flow: column;
	margin-left: 0;
	margin-right: auto;
}
.moveBlock.active .dataBlock {
	display: block;
	margin: .3em auto .3em 5px;
	background-color: transparent;
}
.moveBlock.active .dataBlock .datas {
	color: var(--tx-color);
}
.moveBlock.active .dataBlock .title {
	display: block;
	font-style: italic;
	font-size: .8em;
	font-weight: lighter;
}
.moveBlock:not(.active) .taquinBlock {
	height: 0;
	margin: 0 2px 0 auto;
	opacity: 0;
}
.moveBlock .taquinBlock {
	display: block;
	margin: .5em 2px .25em auto;
	height: 135px;
	width: 135px;
	z-index: 2;
	top: -140px;
	right: 5px;
}
body.win .taquinBlock .case,
.taquinBlock .case {
	background-color: var(--bg-color) !important;
	color: var(--ct-color) !important;
}
body.win .taquinBlock .case,
.taquinBlock .case.vide {
	background-color: transparent !important;
}
input,
button {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-size: 1em;
	font-feature-settings: "calt";
	background-color: var(--bg-color);
}
input:disabled,
button:disabled {
	border-color: var(--cb-color) !important;
	color: var(--cb-color) !important;
}
#input-width {
	text-align: center;
}
input:not(:last-child):not(:first-child) {
	margin: 0 2px;
}
input[type="number"],
input[type="text"] {
	width: 100px;
}
input[type="number"],
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: .5em .75em;
	border: 1px solid var(--cb-color);
	border-radius: calc( var(--br-radius) / 2 );
	font-weight: 600;
	background-color: var(--bg-color);
	color: var(--ct-color);
}
button,
input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: .5em .75em;
	border: 1px solid var(--cb-color);
	border-radius: calc( var(--br-radius) / 2 );
	font-weight: 600;
	background-color: var(--bg-color);
	color: var(--ct-color);
	transition-property: color, border,background-color;
	transition-duration: 125ms;
	transition-timing-function: ease-in-out;
}
button:not(:disabled):hover,
input[type="button"]:not(:disabled):hover {
	cursor: pointer;
}
button:not(:disabled):hover,
input:not(:disabled):hover {
	border-color: var(--ct-color);
	color: var(--tx-color);
	transition-property: color, border,background-color;
	transition-duration: 125ms;
	transition-timing-function: ease-in-out;
}
button:not(:disabled):active,
input:not(:disabled):active {
	border-color: var(--tx-color);
	color: var(--tx-color);
	transition-property: color, border,background-color;
	transition-duration: 125ms;
	transition-timing-function: ease-in-out;
}
button:focus,
input:focus {
	outline: none;
}

input[type="number"]:not(:disabled):focus,
input[type="text"]:not(:disabled):focus {
	color: var(--tx-color);
	border-color: var(--tx-color);
	transition-property: color, border,background-color;
	transition-duration: 125ms;
	transition-timing-function: ease-in-out;
}
.icon {
	padding-top: calc(.5em - 1.5px);
	padding-bottom: calc(.5em + 1.5px);
	min-width: 36px;
}
@media screen and (max-width: 900px) {
	main {
		/* margin: 0 7.5vw; */
	}
	#content {
		flex-flow: column;
	}
	#content > * {
		margin-left: auto;
		margin-right: auto;
	}
	#grid {
		order:0;
	}
	#moves {
		flex: auto;
	}
}
